@charset "UTF-8";
*{margin: 0px;padding: 0px;}
#wrap{width: 1200px;height: 2050px;margin: auto;}
#header{width: 95%;height: 150px;background-color: #ffff80;padding: 30px;}
#header div{float: right;position: absolute;right: 80px;top: 120px;}
#header ul li{list-style: none;float: left;margin-left: 10px;margin-top: 30px;}
#header ul li a{text-decoration: none;font-size: 15px;font-weight: bold;}
#content{width: 80%;height: 1800px;background-color: orange;float: right;}
#content div{padding: 20px;}
#category{width: 20%;height: 1800px;background-color: red;float: left;}
#category div{padding: 20px;}
#footer{width: 100%;height: 100px;background-color: #ffff80;float: right;}
#footer div{text-align: center;padding-top: 10px;}
form label{width: 100px;display: inline-block;}