@charset "UTF-8";
*{margin: 0px;padding: 0px;}
.bg-1 {background-color: #444;}
#wrap{width: 1200px;height: 1300px;margin: auto;}

#header{width: 100%;height: 200px;background-color: #222;padding: 30px;margin-bottom: 10px;margin-top: 10px;}
#header h1{margin-right: 900px;display: inline-block;}
#logo{width: 40px;height: 40px;margin-top: -20px;}
#header h1 a{color: #ddd;}
#header h1 a span{color: #ff5;}
#header div{float: right;right: 15%;top: 120px;}
#header ul li{list-style: none;float: left;margin-left: 10px;margin-top: 30px;}
#header ul li a{text-decoration: none;font-size: 15px;font-weight: bold;color: #ddd;}

#content{width: 79%;height: 1000px;background-color: #eee;float: right;}
#content div{padding: 20px;}

#category{width: 20%;height: 1000px;background-color: #bbb;float: left;}
#category div{padding: 20px;}
#category a{text-decoration: none;font-size: 15px;font-weight: bold;color: #fff;}
#category ul li{list-style: none;}

#footer{width: 100%;height: 100px;background-color: #222;float: right;margin-bottom: 10px;margin-top: 10px;}
#footer div{text-align: center;padding-top: 10px;color: white;}
form label{width: 100px;display: inline-block;}

#detailtable{width: 600px;margin: auto;margin-bottom: 10px;}
#detailtable img{width: 300px;height: 200px;}
#detailform{margin-top: 10px;}
#detaillist{width: 600px;margin: auto;text-align: left;}
#detaillist div{text-align: center;}

#enterbody{width: 680px;margin: auto;}
#enterbody form{margin-top: 10px;text-align: right;margin-right: 20px;}
#entertable{width: 600px;margin: auto;margin-top: 50px;border: 8px solid #ffa;}
#resulttable{width: 600px;margin: auto;margin-top: 100px;border: 8px solid #ffa;}
#resulthead{margin-top: 50px;}

#frm table{text-align: center;}
#frm ul li{display: inline-block;}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 10px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
