@charset "UTF-8";
*{margin: 0px;padding: 0px;}
.bg-1 {background-color: #444;}
#wrap{width: 1200px;height: 1300px;margin: auto;}
#header{width: 100%;height: 200px;background-color: #222;padding: 30px;}
#header h1{margin-right: 900px;}
#header h1 a{color: #ddd;}
#header div{float: right;position: absolute;right: 15%;top: 120px;}
#header ul li{list-style: none;float: left;margin-left: 10px;margin-top: 30px;}
#header ul li a{text-decoration: none;font-size: 15px;font-weight: bold;color: #ddd;}
#content{width: 80%;height: 1000px;background-color: #eee;float: right;}
#content div{padding: 20px;}
#category{width: 20%;height: 1000px;background-color: #bbb;float: left;}
#category div{padding: 20px;}
#category ul li{list-style: none;}
#category ul li a{text-decoration: none;font-size: 15px;font-weight: bold;color: #ffff55;}
#footer{width: 100%;height: 100px;background-color: #222;float: right;}
#footer div{text-align: center;padding-top: 10px;color: white;}
form label{width: 100px;display: inline-block;}